<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dự Án : {{listDA.length}}</h5>
          <a href="#" routerLink="admin/duan" class="btn btn-primary">Đi tới Dự Án</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Task : {{listTask.length}}</h5>
          <a href="#" routerLink="admin/task" class="btn btn-primary">Đi tới Task</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6" style="margin-top: 20px;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Nhân Viên : {{listNhanVien.length}}</h5>
          <a href="#" routerLink="admin/nhanvien" class="btn btn-primary">Đi tới Nhân Viên</a>
        </div>
      </div>
    </div>
  </div>
